.header{
  display: flex;
  align-items: center;
  padding: 0 1rem;

  &__container{
    width: 100%; 
    max-width: 1000px;
    height: 6rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title a{
      color: rgb(5, 79, 175);

      &:hover{
        color: rgb(18, 39, 97);
      }
    }

    &__hamburger-menu{
      display: none;

      & div{
        cursor: pointer;
      }
    }
  }
}


@media only screen and (max-width: "1050px") {
  .header__container{
    
    &__hamburger-menu{
      display: flex;
    }

    &__menu{
      display: none;  
    }
  }
}
