.home {
  &__header {
    background-image: url("../assets/main-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28rem;

    &__center {
      padding: 1rem;

      & button{
        display: flex;
        justify-content: center;
        color: white;
        border: 1px solid white;
        margin-top: 2rem;
        padding: 1rem 0;
        border-radius: 4px;
        background-color: transparent;
        width: 100%;
        cursor: pointer;

        &:hover{
          backdrop-filter: blur(8px);
          background-color: rgba(255, 255, 255, 0.671);
          color: #054faf;
          border: none;
          transition: background-color .4s ease-in;
        }

      }

      & h1,
      h2,
      h3,
      h4,
      h5,
      h5 {
        text-align: center;
        color: white;
      }
    }
  }

  &__main {
    max-width: 1000px;
    width: 100%;
    margin: 2rem auto 0 auto;
    color: rgb(29, 50, 90);
    

    &__search{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;

      &__form{
        display: flex;

        & input{
          width: 25rem;
          height: 3rem;
          padding: 1rem;
          border-radius: .25rem;
          margin-right: 1rem;
          background-color: #F1F4F7;
        }

        & button{
          padding: 0 1.5rem;
          border-radius: .25rem;
          cursor: pointer;

          &:hover{
            background-color: rgb(29, 50, 90);
            color: white;
            transition: background-color .2s ease-in;
          }
        }
      }
    }

    &__posts {
      margin: auto;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &__cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media only screen and (max-width: "1050px") {

  .home__main__posts{
     
       display: flex;
       justify-content: center;

     &__cards{
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: "660px") {

  .home__main{
    padding: 2rem 1rem;

    & form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 25rem;

      & input{
        width: 100%;
        margin: 0 5rem 1rem 5rem;
        
      }

      & button{
        width: 10rem;
        height: 3rem;
      }
    }
  }

  .home__header {
    height: 15rem;
  }
}
