.main-post-card{
    width: 100%;
    max-width: 700px;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;

    &__info{
        display: flex;
        flex-direction: column;
        margin-right: 2rem;

        &__header{
            display: flex;
            align-items: center;


            &__post-owner{  
                display: flex;
                align-items: center;

                &__image{
                    font-size: 20px;
                }

                &__name{
                    font-size: 14px;
                    color: rgba(41, 41, 41, 1);
                    margin-left: 8px;
                    font-weight: 400;
                    letter-spacing: inherit;
                }

            }

            &__divider{
                margin: 0 8px;
                color: rgba(117, 117, 117, 1);
                font-weight: 400;
                font-size: 14px;
            }

            &__date{
                color: rgba(117, 117, 117, 1);
                font-weight: 300;
                font-size: 14px;
            }
        }

        &__main{
            display: flex;
            flex-direction: column;

            &__title{
                font-size: 32px;
            }

            &__desc{
                color: rgb(116, 116, 116);
                font-size: 16px;
            }
        }

        &__footer{
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__left{
                display: flex;

                &__tags{
                    margin-right: 1rem;
                }
            }
        }
    }

    &__image{
        display: flex;
        justify-content: center;
        align-items: center;

        & img{
            border-radius: 4px;

        }
    }

    &:hover{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all .5s ease-in-out;
    }

   
}