.posts {
  padding: 0 1rem;
  margin-top: 3rem;

  &__container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__search {
      display: flex;
      align-items: center;
      padding-bottom: 4rem;
      width: 100%;
      justify-content: center;

      & input {
        width: 100%;
        max-width: 25rem;
        height: 3rem;
        padding: 1rem;
        border-radius: 0.25rem;
        margin-right: 1rem;
        background-color: #f1f4f7;
      }

      & select {
        height: 3rem;
        padding: 0.25rem;
        border-radius: 0.25rem;
        margin-right: 1rem;
        background-color: #f1f4f7;
      }

      & button {
        padding: 0 1.5rem;
        border-radius: 0.25rem;
        height: 3rem;
        cursor: pointer;

        &:hover {
          background-color: rgb(29, 50, 90);
          color: white;
          transition: background-color 0.2s ease-in;
        }
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 520px) {
  .posts__container__search {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    & input,
    select,
    button {
      margin: 0 0 0.5rem 0;
      width: 100%;
      max-width: 100%;
    }
  }
}
